.categories {
    display: none;
}

.itemlist-grid {
    width: 100%;
}

.itemlist {
    grid-column: itemlist;
    grid-row: row 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20em;
    grid-gap: 1em;
}

@media(min-width: 35em) {
    .itemlist-grid {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: [categories-start] 10em  
            [categories-end itemlist-start] 1fr
            [itemlist-end];
        grid-gap: 1em;
        width: 100%;
    }
    
    .categories {
        display: block;
        grid-column: categories;
        grid-row: row 1;
    }

    .itemlist {
        grid-column: itemlist;
        grid-row: row 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 20em;
        grid-gap: 1em;
    }
}
