.background {
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.container {
    margin: 0 auto;
    max-width: 800px;
}

.index {
    margin: 5em 1em;
    padding: 4em;
    border-radius: .25em;
    background-color: white;
    text-align: center;
}

.index--title {
    font-weight: bold;
}

