borderColor: #333;

h1 {
	font-family: 'Dosis', sans-serif;
	padding-bottom: 20px;
	color: $borderColor;
	text-align: center;
	padding-top: 50px;
}

.search-wrapper {
	position: relative;
	width: 350px;
	height: 300px;
	margin: 0 auto;
	background-color: #e6e6e6;
}

.search {
	position: relative;
	width: 200px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;

	&__circle {
		width: 100px;
		height: 100px;
		border: 20px solid $borderColor;
		border-radius: 100px;
	}

	&__rectangle {
		position: absolute;
		right: 0;
		bottom: 30px;
		width: 70px;
		transform: rotate(45deg);
		border: 12px solid $borderColor;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}