.newitempage {

}
.label-input {
    display: flex;
    flex-direction: column;
    margin: 1.25em 0;

}


.label-input > input,
.label-input > textarea {
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 1.5em;
    padding: .25em;
    border: 1px solid rgb(228, 227, 227);
}

.label-input > button {
    background-color: var(--theme-turq);
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.5em;
    padding: .5em;
    border: 0;
}

.label-input > button:hover {
    background-color: turquoise;
}