.footer {
    margin-top: 2em;
    padding: 1em 2em;
    padding-bottom: 5em;
    border-top: 1px solid rgb(221, 221, 221);
    background-color: whitesmoke;
}

.footer-main {
    display: flex;
    margin: 0 auto;
    max-width: 30%;
}

.footer-main > * {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.footer-main h1 {
    font-size: 1.2em;

}

.footer-main a {
    text-align: center;
    padding: .4em;
    color:rgb(112, 100, 31);
}

.footer p {
    text-align: center;
    /* font-weight: bold; */
}

.info-name {
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: .6em;
}

@media(min-width: 35em) {
    .info-name {
        letter-spacing: 1em;
    }
}

.info-email {
    color: blue;
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center;
    color: blue;
}

.social-link {
    margin: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}