.header {
    padding: 2em;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}


.header-title {
    flex: 1;
    margin: 0;
    margin-left: 1em;
    font-size: 1.3rem;
}

.header-logo {
    width: 5em;
    /* position: absolute;
    top: .5em;
    left: 1em; */
}

.header-links {
    display: flex;
}

.header-links a {
    padding-left: 1em;
}

.header-links li {
    display: flex;
    margin-left: 1em;
    cursor: pointer;
}

.header-links-start {
    flex: 1;
}