.header-complexity {
    display: flex;
    flex-direction: column;
}
.header {
    border-bottom: 1px solid rgb(221, 221, 221);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.header-placeholder { 
    height: 5.5em;
}

.header-container {
    margin: 0 auto;
    padding: .2em .5em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    min-width: 70%;
    
}


.header-title {
    flex: 1;
    margin: 0;
    margin-left: 1em;
    font-size: 1.3rem;
}

.header-logo {
    width: 5em;
    cursor: pointer;
    /* position: absolute;
    top: .5em;
    left: 1em; */
}

.header-links {
    display: flex;
}

.header-links a {
    padding: 1em;
}

.header-links li {
    display: flex;
    margin-left: 1em;
    cursor: pointer;
}

.header-start {
    flex: 1;
}