.item-figure {
    margin: 0;
    display: flex;
    flex-direction: column;  
    height: 20em;  
    border-radius: .2em .2em .1em .1em;
    cursor: pointer;
}

.item-figure:hover {
    text-decoration: underline;
}

.item-figure > img {
    height: 16em;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.item-figure > figcaption {
    flex: 0 0 20%;
    padding: .3em;
    display: flex;
    flex-direction: column;
    background-color: rgba(226, 213, 213, .5);
    border-radius: 0 0 .3em .3em;
}

.item-name {
    font-weight: bold;
    flex: 1;
}

.item-price {
    font-weight: bold;
}
