/*
 https://stackoverflow.com/a/27779075 
*/

label {
    display: flex;
    border: 1px solid var(--theme-color);
    padding: 1em;
    border-radius: .25em;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

label input {
    display: none;
}

label span {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid grey;
    display:flex;
    margin-right: 1em;
    justify-content: center;
    align-items: center;
}

[type=checkbox]:checked + span:before {
    content: '\2714';
}