.nextbutton {
    position: fixed;
    z-index: 1;
    bottom: 1em;
    right: 2em;
    background-color: gray;    
    border: 0;
    border-radius: .5em;
    padding: .7em 1.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgb(168, 194, 99), rgb(93, 112, 26));
    box-shadow: .1em .1em .4em rgb(53, 68, 17);
    font-size: 1em; 
}

.nextbutton:active {
    box-shadow: inset 0 0 .5em rgb(53, 68, 17),
        inset 0 .5em 1em rgba(0, 0, 0, .4);
}

.nextbutton:focus {
    outline: none;
}