.option {
    border: 1px solid var(--theme-color);
    border-radius: .25em;
    margin-top: 1em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.verticalbar {
    padding: 1.5em .4em;
    border-radius: .25em 0 0 .25em;
    margin: -1px .5em -1px -1px;
    display: inline;
}

.colored {
    background-color: var(--theme-color);
}
