.quantity-form {
    display: flex;
    flex-direction: column;
}

.quantity-form-cart {
    display: flex;
    flex-direction: row;

}

.quantity-input {
    margin-left: .3em;
    max-width: 2em;
}

.quantity-input > input {
    border: 2px solid black;
    width: 6em;
    text-align: center;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}