.searchitem-figure {
    margin: 0;
    display: flex;
    height: 20em;  
    border-radius: .2em .2em .1em .1em;
    cursor: pointer;
    padding: 1em 0;
    border-bottom: 1px solid var(--theme-dark);
}

.searchitem-figure h1, 
.searchitem-figure h2 {
    font-size: 1rem;
    margin: 0;
}

.searchitem-figure:hover h1,
.searchitem-figure:hover h2 {
    text-decoration: underline;
}

.searchitem-figure > img {
    height: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 4px;
    margin-right: 7px;
}

.searchitem-figure > figcaption {
    flex: 1;
    padding: .3em;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 0 0 .3em .3em;
}

.searchitem-name {
    font-weight: bold;
}

.searchitem-price {
    font-weight: bold;
}

.searchitem-info  {
    text-decoration: none;
    text-decoration: initial;
}

