.main-container > div {
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}


.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}